<h1>Here are the results</h1>
<p> Result number : <%= @result.length %> </p>


<div class="row">
	<% if @result %>
   <% @result.each do |movie|%>
     <div class="card col-lg-3" >
       <div class="card-body">
         <div style="diplay: flex">
           <h5 class="card-title">
             <strong>Titre : <%= movie['title'] %>  </strong>
           </h5>
         </div>
         <h6 class="card-subtitle mb-2 text-muted"> <strong>Date de sortie</strong> : <%= movie['release_date'] %> </h6>
         <p class="card-text" > <strong>Réalisateur</strong>: <%= movie['director'] %>  </p>
         <div class="text-center">
           <%= image_tag movie['poster_path'] %>
         </div>
       </div>
     </div>
   <% end %>
 </div>
<%end%>